/baskets/ui/node_modules/
/docker/nominatim/
game.txt
game1.txt
18.01.2025.html
19.01.2025.html
19.01.txt

/docker/secrets/
docker/.env
docker/.env.local
/frontend/node_modules/
/frontend/.next/
/frontend/.env
/frontend/.env.development
/frontend/.env.local
/frontend/.env.production
/docker/.env.local
/docker/.env
/docker/secrets
/frontend/.local
/front/
/frontend/src/.env